

<div class="border border-black-600">
    <h1 class="mx-20 text-3xl text-black-700"> List of Businesses </h1>

    <% @businesses.each do |business| %>
        <ul> 
              <h3 class="mx-25 text-xl"> <%= link_to business.name, business_path(business), class: "hover:underline hover:text-blue-500" %> </h3>
        </ul>
     
    <% end%>
</div>